@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my hobby - Baking! <i class='fas fa-utensil-spoon'></i></h1>
    <br/>
    <div class="image-container">
        <img src="~/img/baking1.jpg" alt="Image 1">
        <img src="~/img/baking2.jpg" alt="Image 2">
    </div>
    <br/>
    <p>Welcome to my hobby! I love to bake! It's the best way to destress and forget about school. It's very helpful to mix out your worries. </p>
    <br/>
    <p>My favorite thing to bake are cookies. I've been making them for as long as I can remember. They are also the easiest to make, in my opinion. </p>
</div>