@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my hobby - Baking! <i class='fas fa-utensil-spoon'></i></h1>
    <br/>
    <div class="image-container">
        <img src="~/img/baking1.jpg" alt="Image 1">
        <img src="~/img/baking2.jpg" alt="Image 2">
    </div>
    <br/>
    <p>Welcome to my hobby! I absolutely love to bake because it’s the perfect way to destress and take my mind off school. 
        There’s something so calming about measuring ingredients, mixing the batter, and watching everything come together 
        in the oven. The process helps me clear my thoughts, almost as if I’m mixing away my worries. Plus, the end result is 
        always rewarding—a delicious treat to enjoy and share! </p>
    <br/>
    <p>My favorite thing to bake is cookies. I’ve been making them for as long as I can remember, and they never fail to 
        bring me joy. There’s something special about the warm, sweet aroma filling the kitchen as they bake. Plus, they’re 
        simple to make, which makes them my go-to treat whenever I’m in the mood for something homemade. </p>
</div>